/* put your css code here */
.zoo_banner{
	height:70px;
}
.zoo_title{
	font-family: "Times New Roman", Times, serif;
	text-align:left;
	background-color:#f8f8f8
}

.zoo_animal_header{
	font-family: "Arial", Sans-serif;
	text-align: center;
}

.zoo_class_detail{
	font-style: italic;
}

div.zoo_row{
/*	border: 2px solid;*/
}

div.zoo_cage{
	background-color:#f8f8f8;
    border: 2px dotted;
}

div.zoo_cage:hover{
	background-color:#e0e0e0;
}


.zoo_class_image{
  height:250px;
}

.zoo_animal_image{
  width:100%;
}

.zoo_class_image:hover{
	cursor:pointer;
}

.zoo_animal_image:hover{
	cursor:pointer;
}